:root {
  --background: white;
  --text: black;
  --borders: lightgray;
  --gray: #898888ed;
}

[data-darkTheme="true"] {
  --background: black;
  --text: white;
  --borders: grey;
  --gray: #434548;
}

.App {
  text-align: center;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.App-header {
  min-width: fit-content;
  color: var(--text);
}

#topBar-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  border-bottom: 1px solid var(--borders);
}

.Title {
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  color: var(--text);
  font-size: 40px;
  font-weight: normal;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-align: center;
  margin-top: 15px;
}

.smallTitle {
  font-family: "Rubik Moonrocks", cursive;
  font-size: 25px;
  color: var(--text);
  line-height: 100%;
  letter-spacing: 0.01em;
  text-align: center;
  margin-top: 18px;
  margin-left: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.Wordle-grid {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Wordle-row {
  display: flex;
  flex-direction: row;
}

.Wordle-square {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50px;
  height: 50px;
  margin: 3px;
  border: 1px solid var(--borders);
  color: var(--text);
  font-weight: 700;
  font-size: 32px;
}

.Keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 55vw;
  padding-bottom: 10%;
}

.Keyboard-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 3px;
  flex-grow: 1;
  width: 90%;
}

.Keyboard-key {
  display: flex;
  background-color: var(--borders);
  border-radius: 3px;
  color: var(--text);
  padding: 4.5%;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: fit-content;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}

.Wordle-row > div.green {
  --background-color: #6aaa64;
  color: var(--text);
  --border: 2px solid #6aaa64;
  animation: flip 0.5s ease forwards;
}

.Wordle-row > div.yellow {
  --background-color: #c9b458;
  color: var(--text);
  --border: 2px solid #c9b458;
  animation: flip 0.5s ease forwards;
}

.Wordle-row > div.grey {
  --background-color: var(--gray);
  color: var(--text);
  --border: 2px solid var(--gray);
  animation: flip 0.5s ease forwards;
}

.Keycolour-green {
  background-color: #6aaa64;
  color: var(--text);
}

.Keycolour-yellow {
  background-color: #c9b458;
  color: var(--text);
}

.Keycolour-grey {
  background-color: var(--gray);
  color: var(--text);
}

.filled {
  animation: fill 0.2s ease-in-out;
}

/* dark theme selector */

.switch-container {
  position: absolute;
  right: 5px;
  top: 20px;
  padding-right: 20px;
}

.switch-container span {
  padding: 0;
  color: rgb(154, 154, 154);
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 21px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #6baa64;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6baa64;
}

input:checked + .slider:before {
  transform: translateX(10px);
}

@keyframes fill {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* first div has no delay, it begins animating immediately. */

/* get div inside the row which is the nth-child(2) or the 2nd div */
.Wordle-row > div.coloured:nth-child(2) {
  animation-delay: 0.2s;
}
/* get div inside the row which is the nth-child(3) or the 3rd div */
.Wordle-row > div.coloured:nth-child(3) {
  animation-delay: 0.4s;
}
/* get div inside the row which is the nth-child(4) or the 4th div */
.Wordle-row > div.coloured:nth-child(4) {
  animation-delay: 0.6s;
}
/* get div inside the row which is the nth-child(5) or the 5th div */
.Wordle-row > div.coloured:nth-child(5) {
  animation-delay: 0.8s;
}

@keyframes flip {
  0% {
    transform: rotateX(0);
    border-color: grey;
  }
  23% {
    transform: rotateX(45deg);
    border-color: grey;
  }
  45% {
    transform: rotateX(90deg);
    border-color: grey;
  }
  55% {
    transform: rotateX(75deg);
    background: var(--background-color);
    border: var(--border);
  }
  77% {
    transform: rotateX(45deg);
    background: var(--background-color);
    border: var(--border);
  }
  100% {
    transform: rotateX(0);
    background: var(--background-color);
    border: var(--border);
  }
}

@media (max-width: 400px) {
  .Wordle-square {
    width: 50px;
    height: 50px;
  }
  .green {
    width: 3rem;
    height: 3rem;
  }
  .yellow {
    width: 3rem;
    height: 3rem;
  }
  .grey {
    width: 3rem;
    height: 3rem;
  }

  .Title {
    font-size: 30px;
  }
  .smallTitle {
    font-size: 19px;
  }
}

@media (min-width: 750px) {
  .Wordle-square {
    width: 82px;
    height: 82px;
  }
  .green {
    width: 5rem;
    height: 5rem;
  }
  .yellow {
    width: 5rem;
    height: 5rem;
  }
  .grey {
    width: 5rem;
    height: 5rem;
  }
}
